@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts.css';

/* Dark */
/* :root {
  --fg: 255, 255, 255;
  --bg: 4, 4, 4;
  --sbg: 8, 8, 8;
  --tbg: 12, 12, 12;
  --br: 40, 40, 40;
} */

/* gruvbox dark */
:root {
  --fg: 235, 219, 178;
  --bg: 28, 29, 35;
  --sbg: 28, 29, 35;
  --tbg: 35, 37, 44;
  --br: 50, 50, 50;
}

/* gruvbox light */
/* :root {
  --fg: 28, 29, 35;
  --bg: 235, 219, 178;
  --sbg: 225, 208, 168;
  --tbg: 225, 204, 158;
  --br: 50, 50, 50;
} */

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--fg));
  background: rgb(var(--bg));
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Navbar */

nav .nav-container {
  background: rgb(var(--sbg));
  border: 1px solid rgb(var(--br));
}

/* cards */

#card-container .cards {
  background: rgb(var(--sbg));
  border: 1px solid rgb(var(--br));
}

#card-container .cards .card {
  background: rgb(var(--tbg));
  border: 1px solid rgb(var(--br));
  transition: 0.2s ease-in background;
}

#card-container .cards .card:hover {
  background: rgb(var(--sbg));
}

#card-container .category-name {
  font-family: 'Raleway', sans-serif;
}

.source-link {
  background: rgb(var(--tbg));
  border: 1px solid rgb(var(--br));
}

/* themes */

.theme-list {
  background: rgb(var(--sbg));
  border: 1px solid rgb(var(--br));
}

.theme-list .theme {
  background: rgb(var(--tbg));
  border: 1px solid rgb(var(--br));
}