@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts.css';

/* Dark */
/* :root {
  --fg: 255, 255, 255;
  --bg: 4, 4, 4;
  --sbg: 8, 8, 8;
  --tbg: 12, 12, 12;
  --br: 40, 40, 40;
} */

/* gruvbox */
:root {
  --fg: 248, 248, 242;
  --bg: 40, 42, 54;
  --sbg: 48, 51, 61;
  --tbg: 68, 71, 80;
  --br: 68, 71, 80;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--fg));
  background: rgb(var(--bg));
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Navbar */

nav .nav-container {
  background: rgb(var(--sbg));
  border: 1px solid rgb(var(--br));
}

/* cards */

#card-container .cards {
  background: rgb(var(--sbg));
  border: 1px solid rgb(var(--br));
}

#card-container .cards .card {
  background: rgb(var(--tbg));
  border: 1px solid rgb(var(--br));
  transition: 0.2s ease-in background;
}

#card-container .cards .card:hover {
  background: rgb(var(--sbg));
}

#card-container .category-name {
  font-family: 'Raleway', sans-serif;
}

.source-link {
  background: rgb(var(--tbg));
  border: 1px solid rgb(var(--br));
}